.title {
    font-size: 30;
    horizontal-align: center;
    margin: 20;
}

button {
    font-size: 42;
    horizontal-align: center;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
    margin: 0 20;
    text-align: center;
}

image{
    width: 15;
    height: 15;
    margin-right: 5;
}

.listItem{
    height: 40;
}
.fistname{
    margin-right: 5;
}
